<div class="month-navigate">
  <button
    class="btn btn-previous"
    [disabled]="currentIndex === 0"
    mat-mini-fab
    color="primary"
    (click)="previous()">
    <mat-icon class="icon">arrow_back</mat-icon>
  </button>

  <span class="label">
    {{
      monthsAndYears[currentIndex].month +
        '/' +
        monthsAndYears[currentIndex].year
    }}
  </span>

  <button
    class="btn btn-next"
    [disabled]="currentIndex === monthsAndYears.length - 1"
    mat-mini-fab
    color="primary"
    (click)="next()">
    <mat-icon class="icon">arrow_forward</mat-icon>
  </button>
</div>
