<mat-card
  class="card-launche"
  [ngClass]="{
    entrie: launche.type === TypeLauncheEnum.ENTRADA,
    exit: launche.type === TypeLauncheEnum.SAIDA
  }">
  <div class="card-info">
    <div
      class="card-avatar"
      [ngClass]="{
        entrie: launche.type === TypeLauncheEnum.ENTRADA,
        exit: launche.type === TypeLauncheEnum.SAIDA
      }">
      <mat-icon class="icon">{{
        launche.type === TypeLauncheEnum.ENTRADA
          ? 'arrow_downward'
          : 'arrow_upward'
      }}</mat-icon>
    </div>

    <div class="card-details">
      <span class="card-title">
        {{ launche.description }}
      </span>
      <span class="card-value">
        {{ launche.value | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </span>
    </div>
  </div>

  <div class="card-actions">
    <button
      class="btn-edit"
      mat-icon-button
      color="primary"
      matTooltip="Editar"
      matTooltipPosition="above"
      (click)="clickButtonEdit.emit(launche)">
      <mat-icon class="icon">edit</mat-icon>
    </button>

    <button
      class="btn-delete"
      mat-icon-button
      color="warn"
      matTooltip="Excluir"
      matTooltipPosition="above"
      (click)="clickButtonDelete.emit(launche)">
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
</mat-card>
