<div class="home">
  <app-month-navigate
    *ngIf="monthsAndYears$ | async as monthsAndYears"
    [monthsAndYears]="monthsAndYears"
    (currentMonthAndYears)="getCurrentLaunches($event)">
  </app-month-navigate>

  <section class="info-values">
    <div class="entries-exits">
      <div class="infos positive">
        <span class="key">Entradas:</span>
        <span class="value">
          {{ totalEntries | currency : 'BRL' : 'symbol' : '1.2-2' }}
        </span>
      </div>

      <div class="infos negative">
        <span class="key">Saídas:</span>
        <span class="value">
          {{ totalExits | currency : 'BRL' : 'symbol' : '1.2-2' }}
        </span>
      </div>
    </div>

    <div
      class="total"
      [ngClass]="{
        positive: total > 0,
        negative: total < 0,
        neutral: total === 0
      }">
      <span class="key">Total:</span>
      <span class="value">
        {{ total | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </span>
    </div>
  </section>

  <section class="input-section">
    <h2 class="title-inputs">Inserir lançamentos</h2>

    <app-form-launche
      [resetForm]="resetForm"
      (formDataEmit)="save($event)"></app-form-launche>
  </section>

  <h2 class="title-launches">Lançamentos do mês</h2>

  <section class="launches">
    <app-card-launche
      *ngFor="let launche of currentLaunches"
      [launche]="launche"
      (clickButtonEdit)="openDialogEdit($event)"
      (clickButtonDelete)="openDialogDelete($event)">
    </app-card-launche>

    <div *ngIf="currentLaunches?.length === 0" class="empty-launches">
      Sem lançamentos
    </div>
  </section>
</div>

<app-loading [show]="isLoading"></app-loading>
