<div class="home">
  <app-month-navigate
    *ngIf="monthsAndYears$ | async as monthsAndYears"
    [monthsAndYears]="monthsAndYears"
    (currentMonthAndYears)="getCurrentLaunches($event)">
  </app-month-navigate>

  <section class="info-values">
    <div class="entries">
      <span class="key">Entradas:</span>
      <span class="value">
        {{ totalEntries | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </span>
    </div>

    <div class="exits">
      <span class="key">Saídas:</span>
      <span class="value">
        {{ totalExits | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </span>
    </div>

    <div class="total">
      <span class="key">Total:</span>
      <span class="value">
        {{ total | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </span>
    </div>
  </section>

  <section class="input-section">
    <app-form-launche (formDataEmit)="save($event)"></app-form-launche>
  </section>

  <h2 class="title-h2">Lançamentos</h2>

  <section class="launches">
    <app-card-launche
      *ngFor="let launche of currentLaunches"
      [launche]="launche"
      (clickButtonEdit)="openDialogEdit($event)"
      (clickButtonDelete)="openDialogDelete($event)">
    </app-card-launche>

    <div *ngIf="currentLaunches?.length === 0" class="empty-launches">
      Sem lançamentos
    </div>
  </section>
</div>
