.home {
  padding: 1rem;

  .form-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .field {
        padding-top: 1rem;
    }
  }
}
